@model DmResinas.DTO.CatalogoDto
@{
	ViewData["Title"] = "Catálogo";
}
@section Styles {

	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/style.css">
}

<div class="hero-wrap hero-bread d-flex justify-content-center" style="background-color: #f5f5f5;">
	<img src="../images/catalogo.png" style="width: 70%; height: 70%">
</div>

<header class="containerTopoCatalogo">
	<div class="tituloCatalogo">
		<img class="flor1"
			src="https://cdn.discordapp.com/attachments/826872414147313764/1165147408041255002/image.png?ex=6545cb15&is=65335615&hm=f02c2435a8b6ff3c9ca96b40e3034e2266b5e4ab9533a6594650e1eabdff71aa&"
			width="30" height="30" />
		<h1> CATÁLOGO</h1>
		<img src="https://cdn.discordapp.com/attachments/826872414147313764/1165147408041255002/image.png?ex=6545cb15&is=65335615&hm=f02c2435a8b6ff3c9ca96b40e3034e2266b5e4ab9533a6594650e1eabdff71aa&"
			width="30" height="30" />
	</div>
	<h2>Encontre o produto que está procurando.</h2>
</header>

<section class="filtro">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 mb-5 text-center">
				<button id="btn-all" class="btn my-2  btn-filter cursor-pointer" style="background-color: #D7911A; color: white" onclick="filter('all', '#f8f9fa')">
                    Ver Todos
                </button>
				@foreach (var categoria in Model.Categorias)
                {
                    <button id="btn-@categoria.Nome.ToLower()" class="btn my-2  btn-filter cursor-pointer" onclick="filter('@categoria.Nome.ToLower()')">
                        @categoria.Nome
                    </button>
                }
			</div>
		</div>
		

		<div class="row d-flex justify-content-center">
			@foreach (var produto in Model.Produtos)
			{
				<div class="col-md-9 col-lg-3 ftco-animate">
					<div class="product @string.Join(' ',produto.Categorias.Select(t =>t .Categoria.Nome)).ToLower()">
						<a asp-controller="Home" asp-action="Produto" asp-route-id="@produto.Id" class="img-prod">
							<img class="img-fluid" src="@produto.Fotos.Where(f=> f.Destaque).Select(f => f.ArquivoFoto).Single()" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a asp-controller="Home" asp-action="Produto" asp-route-id="@produto.Id">@produto.Nome</a>
							</h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>@produto.Preco</span></p>
								</div>
								<div class="tipodoproduto">
								@foreach (var categoria in produto.Categorias)
                                    {
                                        <a asp-action="Index" asp-routetipo="@categoria.Categoria.Nome.ToLower()" class="btn my-2 text-white"></a>
									
                                    }
								</div>
							</div>
						</div>
					</div>
					
				</div>
			}
		</div>
		
</section>


@section Scripts {
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/main.js"></script>



<script>
	function filter(categorias) {
    let cards, i;
    let count = 0;
    cards = document.getElementsByClassName("product");
    buttons = document.getElementsByClassName("btn-filter");
    for (i = 0; i < cards.length; i++) {
        cards[i].parentElement.style.display = 'none';
        if (cards[i].classList.contains(categorias) || categorias === "all") {
            cards[i].parentElement.style.display = 'block';
            count += 1;
        };
    };
    for (i = 0; i < buttons.length; i++) {
        if (buttons[i].id == `btn-${categorias}`) {
            buttons[i].classList.remove("btn-sm");
            buttons[i].classList.add("btn-lg");
        }
        else {
            buttons[i].classList.remove("btn-lg");
            buttons[i].classList.add("btn-sm");
        }
    };
    if (categorias === "all") {
        document.getElementById("btn-all").classList.remove("btn-sm");
        document.getElementById("btn-all").classList.add("btn-lg");
    };
}
</script>

	

}