@model DmResinas.DTO.CatalogoDto
@{
	ViewData["Title"] = "Catálogo";
}
@section Styles {

	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/style.css">
}

<div class="hero-wrap hero-bread d-flex justify-content-center" style="background-color: #f5f5f5;">
	<img src="../images/catalogo.png" style="width: 70%; height: 70%">
</div>

<header class="containerTopoCatalogo">
	<div class="tituloCatalogo">
		<img class="flor1"
			src="https://cdn.discordapp.com/attachments/826872414147313764/1165147408041255002/image.png?ex=6545cb15&is=65335615&hm=f02c2435a8b6ff3c9ca96b40e3034e2266b5e4ab9533a6594650e1eabdff71aa&"
			width="30" height="30" />
		<h1> CATÁLOGO</h1>
		<img src="https://cdn.discordapp.com/attachments/826872414147313764/1165147408041255002/image.png?ex=6545cb15&is=65335615&hm=f02c2435a8b6ff3c9ca96b40e3034e2266b5e4ab9533a6594650e1eabdff71aa&"
			width="30" height="30" />
	</div>
	<h2>Encontre o produto que está procurando.</h2>
</header>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 mb-5 text-center">
				<ul class="product-category">
					<li><a href="javascript:void(0)" style="background-color: #D7911A; color: white">Todos</a></li>
					<li><a href="javascript:void(0)">Chaveiros</a></li>
					<li><a href="javascript:void(0)">Marca-Páginas</a></li>
					<li><a href="javascript:void(0)">Placas</a></li>
					<li><a href="javascript:void(0)">Outros...</a></li>
				</ul>
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			@foreach (var produto in Model.Produtos)
			{
				<div class="col-md-9 col-lg-3 ftco-animate">
					<div class="product">
						<a asp-controller="Home" asp-action="Produto" asp-route-id="@produto.Id" class="img-prod">
							<img class="img-fluid" src="@produto.Fotos.Where(f=> f.Destaque).Select(f => f.ArquivoFoto).Single()" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a asp-controller="Home" asp-action="Produto" asp-route-id="@produto.Id">@produto.Nome</a>
							</h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>@produto.Preco</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
</section>


@section Scripts {
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/main.js"></script>




	<!--Filtro


	<script>
	function Filter()
        {
            let filtroTipo = [];
            if (document.getElementById("AllTypes").checked === false)
            {
                let tipos = document.getElementsByClassName("tipo");
                for (let i = 0; i < tipos.length; i++) {
                    if (tipos[i].checked === true) {
                        filtroTipo.push(tipos[i].name);
                    }
                }
            }
	items[i].style.display = display;

	 function CheckTypesCount(){
            let count = 0;
            let items = document.getElementsByClassName("tipo");
            for (let i = 0; i < items.length; i++) {
                if (items[i].checked === true) {
                    count += 1;
                }
            };
            if (document.getElementById("AllTypes").checked === true) {
                count += 1;
            }
            return count;
        }

        function FilterAllTypes() {
            if (CheckTypesCount() == 0){
                document.getElementById("AllTypes").checked = true;
            }
            else
            {
                let items = document.getElementsByClassName("tipo");
                for (let i = 0; i < items.length; i++) {
                    items[i].checked = false;
                };
            }
            Filter();
        }

        function FilterType() {
            if (CheckTypesCount() == 0){
                document.getElementById("AllTypes").checked = true;
            }
            else
            {
                document.getElementById("AllTypes").checked = false;
            };
            Filter();
        }
	</script>

	
-->
}