@model DmResinas.Models.Products
@{
    ViewData["Title"] = "Home";
}

<div class="album py-5">
    <div class="text-center mb-3">
        <h1>@Model.ProdName</h1>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="@Model.Images" alt="@Model.ProdName" class="img-fluid w-100">
            </div>
            <div class="col-md-9">
                <p>@Model.ProdDescription</p>
                <p>Preço: @Model.ProdPrice</p>
                <p>Estoque: @Model.ProdQtd</p>
                @foreach(ProductCategories ProductCategories in Model.Categories)
                {
                    <span class="badge bg-secondary me-2">@ProductCategories.Categories.CategorieName</span>
                }
            </div>
        </div>
    </div>
</div>