@model DmResinas.Models.Produto
@{
    ViewData["Title"] = "Produto";
}

<div class="album py-5">
    <div class="containerTudoProduto">
        <section class="containerPrincipalProduto">
            <div class="containerFotoProduto">
                @foreach (ProdutoFoto ProdutoFotos in Model.Fotos)
                {
                    <img class="imagemProduto" src="@ProdutoFotos.Produto.Fotos.Select(f => f.ArquivoFoto).Single()"
                        alt="Colorlib Template">
                    <div class="overlay"></div>
                }
            </div>
            <div class="containerInfoPrincipalProduto">
                <h1>@Model.Nome</h1>
                <p class="precoProduto">R$@Model.Preco</p>
                <div class="containerTagsProduto">
                    <div class="containerCategoriasProduto">
                        <h2>Detalhes da peça:</h2>
                        <ul>
                            @foreach (ProdutoCategoria ProdutoCategorias in Model.Categorias)
                            {
                                <li>
                                    <h3 class="tagsProduto">@ProdutoCategorias.Categoria.Nome</h3>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="containerCoresProduto">
                        <h2>Cores do modelo:</h2>
                        @foreach (ProdutoCor ProdutoCores in Model.Cores)
                        {
                            <div class="itemCoresProduto">
                                <div class="circuloCorProduto"
                                    style="Background-color:@ProdutoCores.Cor.CodigoHexa.ToLower()"></div>
                                <h3>@ProdutoCores.Cor.Nome</h3>
                            </div>
                        }
                    </div>
                </div>
                <div class="containerDescricaoProduto">
                    <h2>Descrição:</h2>
                    <p class="descricaoProduto">@Model.Descricao</p>
                </div>

                <a href="https://contate.me/dmresinas">
                    <button class="botaoComprarProduto">
                        <p>Comprar</p>
                        <img class="zapLogoProduto" src="~/img/zaplogo.png" />
                    </button>
                </a>
            </div>
        </section>
    </div>
</div>
